<div class="ux-filter">
  <div class="">
    <h2 class="filter-title">Browse by</h2>
  </div>
  <div class="filter-option-1">
    <div class="filter-subtitle">
      <h3>Brand</h3>
    </div>
    <div class="filter-items">
      <form class="" action="index.html" method="post">
        <ul class="filter-parent">
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Advil</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Atoma</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Benylin</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Buckleys</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Fisherman's Friend</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Halls</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Neocitran</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Robitussin</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Tylenol Cold</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Vicks Dayquil/Nyquil</label>
          </li>
        </ul>
      </form>
    </div>
  </div>

  <div class="filter-option-2">
    <div class="filter-subtitle">
      <h3>Concern/Symptoms</h3>
    </div>
    <div class="filter-items">
      <form class="" action="index.html" method="post">
        <ul class="filter-parent">
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Arthritis</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Back Pain</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Headache</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Joint Pain</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Muscle Pain</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Sleep Aid</label>
          </li>
        </ul>
      </form>
    </div>
  </div>

  <div class="filter-option-3">
    <div class="filter-subtitle">
      <h3>Features</h3>
    </div>
    <div class="filter-items">
      <form class="" action="index.html" method="post">
        <ul class="filter-parent">
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Children's</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Cooling</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Fast Relief</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Gel Capsules</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Oral Medication</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Topical Medication</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Warming</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Natural</label>
          </li>
          <li>
            <input type="checkbox" name="" id="" value="" class="checkbox">
            <label for="">Chewable</label>
          </li>
        </ul>
      </form>
    </div>
  </div>

</div>
