.site-footer .grid-uniform {
	display: block;
}
#about-us {
	h2 {
		font-size: 36px;
		margin-bottom: 40px;
    font-weight: 900px;
		color: $brandPrimary;
    text-align: center;
		letter-spacing: -0.015em;
	}
	img {
		max-width: 100%;
	}
}
.template-page {
	.section-header {
		max-width: 760px;
    margin: 0 auto 70px;
    text-align: center;
		h1 {
			color: $brandSecondary;
			font-size: 60px;
		}
	}
}
.community {
	padding: 40px 0;
	.content-tac {
		margin: 0 auto;
		max-width: 700px;
		text-align: center;
	}
}
.staff {
	padding: 40px 0;
	text-align: center;
	.col-3 {
		@media only screen and (min-width: 769px){
			display: flex;
			width: 100%;
	    -webkit-justify-content: space-between;
	    -ms-justify-content: space-between;
	    justify-content: space-between;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    -moz-align-items: center;
	    -ms-align-items: center;
	    -o-align-items: center;
	    align-items: center;
  	}
	}
	.inner-col {
		width: 100%;
		text-align: center;
	}
}

.moto-section-img {
		max-width: 636px;
 max-height: 480px;
		margin-left: 82px;
}
