#about-us {
	@media only screen and (max-width: 1087px) {
		.wrapper {
			padding: 0 20px;
		}
		.motto-section {
			p {
				padding: 0 20px;
			}
		}
}
	.staff {
		padding: 40px 0;
		text-align: center;
			.staff-name {
				font-weight: 700;
				font-size: 24px;
				margin-top: 20px;
				margin-bottom: 0px;
			}
			p {
				padding: 0px 20px 0px 20px;
			}
			h2 {
				margin-bottom: 60px;
			}
	}
	.motto-section {
		padding-bottom: 50px;
		.img-container {
			margin-right: 50px;
		}
		h2 {
			margin-bottom: 30px;
		}
	}
	h2 {
		font-size: 36px;
		margin-bottom: 40px;
		font-weight: 900;
    color: #333;
		letter-spacing: -0.015em;
		text-align: center;
	}
	p {
		text-align: center;
		font-size: 18px;
		margin-bottom: 20px;
		padding: 0px 50px 0px 50px;
	}
	p.subtitle {
		font-size: 36px;
		font-weight: 600;
		font-family:'Cabin', sans-serif;
		color: $brandMed;
	}
	.btn {
			margin-top: 25px;
			border: none;
	   	outline: none;
	    -webkit-appearance: none;
	    background-color: #153167;
	    color: #fff;
	    font-weight: 700;
	    letter-spacing: -0.05em;
	    padding: 14px 22px;
	    font-size: 18px;
	    text-transform: uppercase;
	    letter-spacing: 0.010em;
			&:hover {
				background-color: #629c9c;
			}
	}

}
.template-page {
	.section-header {
		max-width: 760px;
    margin: 0 auto 70px;
    text-align: center;
		h1 {
			color: $brandSecondary;
			font-size: 60px;
		}
	}
}
.community {
	background-color: #f3f4f7;
	padding: 40px 0;
	.content-tac {
		margin: 0 auto;
		max-width: 700px;
		text-align: center;
	}
	.feature-row__text {
    padding-top: 20px;
}
}

.col-3 {
	@media only screen and (min-width: 769px){
		display: flex;
		width: 100%;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
	}
}
.inner-col {
	width: 100%;
	text-align: center;
}
.content-title-desc {
	.copy-container {
		text-align: center;
	}
	p {
		text-align: center;
		font-size: 18px;
	}
	p.subtitle {
		font-size: 36px;
		font-weight: 600;
		font-family:'Cabin', sans-serif;
		color: $brandMed;
	}
	.btn {
	border: none;
    outline: none;
    -webkit-appearance: none;
    background-color: #153167;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.05em;
    padding: 14px 22px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.010em;
		&:hover {
			background-color: #629c9c;
		}
	}
	img {
		max-width: 100%;
	}
	.img-container {
		max-width: 634px;
		margin-left: 82px;
	}
}
