#contact-us {
	.help-copy {
	margin-bottom: 72px;
	.below-button-text {
		margin-top: 40px;
		padding: 0px 50px 0px 50px;
	}
		.feature-row__text {
		padding-top: 0px;
		}
		h2 {
				margin-bottom: 30px;
		}
}
	h2 {
		font-size: 36px;
		margin-bottom: 60px;
		font-weight: 900;
    color: #333;
		letter-spacing: -0.015em;
		text-align: center;
	}
	p {
		margin-bottom: 20px;
		padding: 0px 50px 0px 50px;
	}
	a.btn {
    margin-top: 20px;
		&:hover {
			background-color: #629c9c;
		}
		}
}

section.contact {
	background: #f3f4f7;
}
section.contact-methods {
	padding: 75px 0;
	.img-container {
		display: block;
		padding: 30px 0 15px;
	}
	.col-3 {
		margin-top: 20px;
		align-items: normal;
		.inner-col {
			width: 30%;
			background: #fff;
			box-shadow: -2px 5px 18px rgb(218, 218, 218);
			img {
    	max-height: 80px;
		}
		}
	}
	a {
		display: block;
	}
	.inner-col {
		padding: 30px 15px;
		&:hover {
			border-style: solid;
			border-color: #629c9c;
		}
	}
	.contact-text {
		color: #333;
		font-weight: 600;
		font-family: "Cabin", sans-serif;
		font-size: 20px;
	}
	.contact-details {
		font-weight: 400;
		color: #333;
		padding-bottom: 40px;
	}
}
.map-form-container {
	padding: 50px 0;
	.form-btn {
		border: none;
			outline: none;
			-webkit-appearance: none;
			background-color: #153167;
			color: #fff;
			font-weight: 700;
			letter-spacing: -0.05em;
			padding: 14px 50px;
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: 0.010em;
			&:hover {
				background-color: #629c9c;
			}
}

}
