#contact-us {
	.content-title-desc	.img-container {
	  box-shadow: -3px 5px 20px 0 rgba(109, 109, 109, 0.38);
    border-radius: 4px;
    overflow: hidden;
    img {
    	display: block;
    }
  }
	@media only screen and (min-width: 769px){
		.content-title-desc .img-container {
			margin-right: 50px;
		}
	}


	.help-copy {
		margin-bottom: 72px;
	}
	@media only screen and (max-width: 1087px) {
		.wrapper {
    	padding: 0 20px;
		}
		.below-button-text {
			margin-top: 40px;
			padding: 0px 50px 0px 50px;
		}
		.feature-row__text {
			padding-top: 0px;
		}
		h2 {
				margin-bottom: 30px;
		}
	}
	h2 {
		font-size: 36px;
		margin-bottom: 30px;
		font-weight: 900;
    color: #333;
		letter-spacing: -0.015em;
		text-align: center;
	}
	@media only screen and (min-width: 1087px) {
		p {
			padding: 0px 10px 0px 10px;
		}
	}
	p {
		margin-bottom: 10px;
	}
	a.btn {
    margin-top: 20px;
		&:hover {
			background-color: #629c9c;
		}
		}
}

	section.contact {
		background: #f3f4f7;
	}
	section.contact-methods {
		padding: 75px 0;
		a {
			text-decoration: none;
		}
		.img-container {
			display: block;
			padding: 30px 0 15px;
		}
	.col-3 {
			margin-top: 20px;
			align-items: normal;
			display: flex;
			width: 100%;
	    -webkit-justify-content: space-between;
	    -ms-justify-content: space-between;
	    justify-content: space-between;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    -moz-align-items: center;
	    -ms-align-items: center;
	    -o-align-items: center;
	    align-items: center;
			@media only screen and (min-width: 940px){
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: start;
				.inner-col {
					width: 30%;
					margin: 20px;
					text-align: center;
				}
			}
			@media only screen and (max-width: 940px){
				flex-direction: column;
				flex-wrap: nowrap;
				.inner-col {
					margin-bottom: 30px;
					text-align: center;
				}
			}
			.inner-col {
				background: #fff;
				box-shadow: -1px 5px 20px 0 rgba(215, 216, 218, 0.38);
				border-radius: 2px;
    		overflow: hidden;
				img {
	    	max-height: 80px;
			}
			}

		a {
			display: block;
		}
		.inner-col {
			padding: 30px 15px;
			position: relative;
			transition: all .5s;
			&:hover {
				margin-top: -5px;
	    	margin-bottom: 5px;
				a::after {
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    background: #2D549E;
				    opacity: .25;
				    content: '';
				}
			}
		}
		.contact-text {
			color: #333;
			font-weight: 600;
			font-family: "Cabin", sans-serif;
			font-size: 20px;
		}
		.contact-details {
			font-weight: 400;
			color: #333;
			padding-bottom: 40px;
		}
	}
}
.map-form-container {
	padding: 50px 0;
	.form-btn {
		border: none;
		outline: none;
		-webkit-appearance: none;
		background-color: #153167;
		color: #fff;
		font-weight: 700;
		letter-spacing: -0.05em;
		padding: 14px 50px;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 0.010em;
		&:hover {
			background-color: #629c9c;
		}
	}
}
#contact-us {
	.map-form-container {
		.wrapper {
			text-align: left;
			@media only screen and (min-width: 769px){
				display: flex;
				justify-content: space-between;
				> div {
					flex: 1;
					min-width: 50%;
				}
			}
			@media only screen and (min-width: 769px){
				.map {
					margin-right: 50px;
				}
			}
			.map {
				padding-top: 0px;
				text-align: center;
				max-width: 100%;
			}
			form {
				text-align: left;
				.btn {
					float: none;
				}
			}
			@media only screen and (min-width: 769px){
				.form {
					padding-right: 50px;
				}
			}
			.form {
				padding-top: 30px;
			}
			.form p,
			.form h2 {
				text-align: left;
				padding-left: 0;
				margin-bottom: 25px;
			}
		}
	}
}
