#shopify-section-footer{
  .site-footer {
    input {
      max-width: 350px;
      padding: 10px;
      font-size: 17px;
    }
    ul.site-footer__links {
      text-align: left;
    }
    h3.h4 {
      font-size: 20px;
    }
    p {
      font-size: 16px;
      padding-left: 0px;
      padding: 0 0 10px;
      opacity: .7;
    }
    li {
      font-size: 16px;
    }
    footer {
    	.grid-uniform {
    		@media only screen and (max-width: 769px){
    			display: block;
    		}
    	}
    	.grid-uniform .grid__item {
    		width: 100%;
    		display: block;
    		padding-left: 0;
    		text-align: left;
        margin-left: 100px;
    	}
    }
  }
  .payment-icons {
    padding: 30px 0 0px;
  }
  input#subscribe {
    text-transform: uppercase;
    padding: 10px 22px;
    font-size: 16px;
    &:hover {
      background-color: #fff;
      color: #153167;
    }
  }
}
