#shopify-section-footer{
  .site-footer {
    input {
      max-width: 350px;
      padding: 10px;
      font-size: 17px;
    }
    ul.site-footer__links {
      text-align: center;
      margin-bottom: 18px;
      @media only screen and (min-width: 769px){
        display: flex;
        justify-content: center;
        a {
          border-right: 1px solid #fff;
          padding-right: 16px;
          margin-right: 16px;
        }
      }
      li:last-child {
        a {
          padding-right: 0;
          margin-right: 0;
          border-right: none;
        }
      }
      a {
        display: inline-block;
        line-height: 1;
      }
    }
    h3.h4 {
      font-size: 20px;
    }
    a {
      text-decoration: none;
    }
    p {
      font-size: 16px;
      padding-left: 0px;
      padding: 0 0 10px;
      opacity: .7;
    }
    li {
      font-size: 18px;
    }
    footer {
    	.grid-uniform {
    		@media only screen and (max-width: 769px){
    			display: block;
    		}
    	}
    	.grid-uniform .grid__item {
    		width: 100%;
    		display: block;
    		padding-left: 0;
    		text-align: left;
        margin-left: 100px;
    	}
    }
  }
  .payment-icons {
    padding: 5px 0 0px;
  }
  input#subscribe {
    text-transform: uppercase;
    padding: 10px 22px;
    font-size: 16px;
    &:hover {
      background-color: #fff;
      color: #153167;
    }
  }
  .col-2-container {
    @media only screen and (min-width: 769px){
      display: flex;
    }
    padding-top: 40px;
    margin-bottom: 30px;
    .col {

      @media only screen and (min-width: 769px){
        width: 50%;
      }
    }
    .social {
      margin-top: 30px;
    }
    .contact {
      @media only screen and (min-width: 769px){
        display: flex;
      }
      img {
        margin-right: 30px;
      }
      p {
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}

