.wrapper {
	padding: 0 50px;
  max-width: 1450px;
	@media only screen and (max-width: 769px){
		padding: 0 20px;
	}
}
.main-content {
	padding-top: 145px;
	padding-bottom: 0;
}

@media only screen and (max-width: 769px){
	.product__img-wrapper.supports-js {
	    margin-top: 10px;
	}
	.grid__item {
    margin-bottom: 20px;
	}
}

.grid-link__container {
	display: flex;
  overflow: hidden;
}

.template-search {
	@media (min-width: 769px){
		main.main-content {
		    margin-top: 80px;
		}
	}
}

.btn-primary {
	margin-top: 25px;
	border: none;
	outline: none;
	-webkit-appearance: none;
	background-color: #153167;
	color: #fff;
	font-weight: 700;
	padding: 14px 22px;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.010em;
	border-radius: 2px;
	line-height: 1.42;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-family: "Cabin",sans-serif;
	display: inline-block;
cursor: pointer;
	&:hover {
	background-color: #274681;
	color: #fff;
	}
}

h2 {
	font-size: 36px;
}

a, .text-link {
    color: #046569;
    text-decoration: underline;
    background: transparent;
}
