.wrapper {
	@media only screen and (max-width: 769px){
		padding: 0 20px;
	}
}
.site-nav>li .site-nav__dropdown {
	width: 100%;
	left: 0;
}
.secondary-nav {
	display: inline-block;
}
.main-content {
	padding-top: 145px;
}
.site-header {
	a {
		color: #fff;
		}
	padding: 15px 0;
}
.site-nav--has-dropdown-grandchild {
	&:hover {
		background: #005055;
	}
}
.site-nav__dropdown-grandchild {
	top: 54px;
  left: 41px;
}
.site-nav__dropdown-grandchild,
.site-nav__dropdown,
.site-nav--has-dropdown-grandchild .site-nav__link:hover {
  background: #005a5f;
}
.site-nav__link .icon-arrow-down{
	color: #fff;
}
.site-nav {
	letter-spacing: 0;
}
.site-nav > li {
  position: inherit;
}
.site-nav>li:first-child>a,
.site-nav__link {
  padding: 7px 16px 18px;
}
.site-header .site-nav>li:hover >a {
  background: #097c82;
}
.site-nav__dropdown-grandchild {}
.site-nav>li:first-child .site-nav__dropdown,
body .site-nav > li .site-nav__dropdown {
	padding-top: 20px;
	background: #097c82;
	width: 100%;
  left: 0;
  display: flex;
  flex: 25%;
  flex-wrap: wrap;
	justify-content: flex-end;
  padding: 20px 8% 10px;
  text-align: center;
	> li {
		@media only screen and (min-width: 769px){
	  	flex: 25%;
	  	margin-bottom: 10px;
	  	flex-grow: unset;
	 	}
 	}
}
.site-nav__link:hover,
.site-nav__link:active,
.site-nav__link:focus {
  color: #c5dfcf;
}
.header-bar__right {
	color: $brandSecondary;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.site-header__logo {
	margin-top: 60px;
	a {
		letter-spacing: -.05em;
		text-align: left;
	}
}
.header-bar a, .header-bar button {
	color: $brandSecondary;
	font-weight: 600;
	text-decoration: none;
}
.header-bar__module {
	font-weight: 600;
}
.site-nav--active > .site-nav__link {
	font-weight: 500;
}
/* secondary nav */
.secondary-nav {
	.site-nav__link:hover {
		color: #559291;
	}
	#MenuParent-2 {
		a {
			color: #fff;
			&:hover {
				color: #c5dfcf;
			}
		}
	}
	.site-nav__link .icon-arrow-down {
		color: #2d4276;
	}
}
.supports-fontface .header-bar__search-input[type="search"] {
	font-weight: 600;
}
.top-banner {
	height: 600px;
	overflow: hidden;
}
#shopify-section-header {
	position: fixed;
	z-index: 3;
	top:0;
	width: 100%;
}
.banner-bg {
	background: url('banner-img-04.jpg') no-repeat right top;
	background-size: cover;
	background-color: #80bdbd;
	position: absolute;
	right: 0;
  top: 140px;
  height: 100%;
  width: 62%;
  z-index: 0;
	@media (max-width: 769px){
		background: url(banner-img.jpg) no-repeat center;
    background-size: cover;
    background-color: #80bdbd;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.5;
	}
}
.index-section.shopify-section{
	background: #fff;
	padding-top: 0;
}
.shopify-section {
	position: relative;
	z-index: 1;
}
.site-nav {
	text-align: right;
}

.cart-container {
  background: $brandSecondary;
  padding: 11px 25px 11px 20px;
  margin: -2px 0 -8px 20px;
  font-size: 18px;
  a {
  	color: #fff;
  }
}
.header-bar {
  padding: 19px 20px;
  background: #fff;
}
.header-bar__search {
	margin-top: -8px;
  margin-bottom: -7px;
  position: absolute;
  right: 124px;
  top: 7px;
}
.site-header {
	background: $brandPrimary;
	padding: 15px 20px;
	@media only screen and (max-width: 769px){
		display: none;
	}
}
.site-nav__dropdown {
	right: 0;
	left: auto;
}
.supports-fontface .header-bar__search-submit {
  width: 27%;
}
.search-bar {
  max-width: 537px;
}
input.header-bar__search-input {
  padding: 19px 0 19px 39px;
  border-radius: 0;
  border: none;
  font-size: 18px;
}
.header-bar__module.cart-container {
  text-transform: uppercase;
}
.site-header a.logo-title {
	color: $brandLight;
	position: absolute;
	left: 30px;
	font-weight: 700;
	font-size:24px;
	font-family: 'Cabin';
}
.site-header {
	.wrapper {
		position: relative;
	}
}
.top-banner{
	margin-bottom: 30px;
	z-index: 1;
	.h1 {
		position: relative;
		z-index: 1;
		@media (min-width: 1087px){
			padding-top: 40px;
		}
	}
	h1 {
		@media (min-width: 1087px){
			font-size: 70px;
		}
		font-size: 40px;
		line-height: 1.2;
    text-align: left;
    max-width: 750px;
    color: $brandSecondary;
    // text-transform: uppercase;
    a {
    	display: block;
    	margin: 10px 0;
    	color: $brandSecondary;
			@media (min-width: 769px){
				margin: 50px 0;
			}
    }
	}
	.search-bar-heading {
	  font-size: 24px;
	  font-weight: 600;
	}
	.tagline {
		max-width: 450px;
		font-size: 22px;
		text-align: left;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 40px;
	}
}

@media (max-width: 1068px) {
	.mobile-nav__link {
		font-size: 16px;
	  font-family: "Cabin",sans-serif;
	}
	.mobile-nav__sublist-link {
		a {
			font-size: 16px;
		  font-family: "Cabin",sans-serif;
		}
		.header-bar a, .header-bar button {
    font-size: 18px;
		}
	}

}
.cart-page-link {
	text-decoration: none;
}
