.wrapper {
	@media only screen and (max-width: 769px){
		padding: 0 20px;
	}
}
.site-nav>li .site-nav__dropdown {
	width: 100%;
	left: 0;
}
.secondary-nav {
	display: inline-block;
}
.main-content {
	padding-top: 145px;
}
.site-header {
	a {
		color: #fff;
		}
	padding: 15px 0;
}
.site-nav--has-dropdown-grandchild {
	&:hover {
		background: #005055;
	}
}
.site-nav__dropdown-grandchild {
	top: 54px;
  left: 41px;
}
.site-nav__dropdown-grandchild,
.site-nav__dropdown,
.site-nav--has-dropdown-grandchild .site-nav__link:hover {
  background: #005a5f;
}
.site-nav__link .icon-arrow-down{
	color: #fff;
}
.site-nav {
	letter-spacing: 0;
}
.site-nav > li {
  position: inherit;
}
.site-nav>li:first-child>a,
.site-nav__link {
  padding: 7px 16px 18px;
}
.site-header .site-nav>li:hover >a {
  background: #097c82;
}
.site-nav__dropdown-grandchild {}
.site-nav>li:first-child .site-nav__dropdown,
body .site-nav > li .site-nav__dropdown {
	padding-top: 20px;
	background: #097c82;
	width: 100%;
  left: 0;
  display: flex;
  flex: 25%;
  flex-wrap: wrap;
	justify-content: flex-end;
  padding: 20px 8% 10px;
  text-align: center;
	> li {
		@media only screen and (min-width: 769px){
	  	flex: 25%;
	  	margin-bottom: 10px;
	  	flex-grow: unset;
	 	}
 	}
}
.site-nav__link:hover,
.site-nav__link:active,
.site-nav__link:focus {
  color: #c5dfcf;
}
.header-bar__right {
	color: $brandSecondary;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.header-bar__left {
  text-align: left;
  width: auto;
  max-width: 344px;
  z-index: 3;
  position: relative;
  display: block;
}
.site-header__logo {
	margin-top: 60px;
	a {
		letter-spacing: -.05em;
		text-align: left;
	}
}
.header-bar a, .header-bar button {
	color: $brandSecondary;
	font-weight: 600;
	text-decoration: none;
}
.header-bar__module {
	font-weight: 600;
}
.site-nav--active > .site-nav__link {
	font-weight: 500;
}
/* secondary nav */
.secondary-nav {
	.site-nav__link:hover {
		color: #559291;
	}
	#MenuParent-2 {
		a {
			color: #fff;
			&:hover {
				color: #c5dfcf;
			}
		}
	}
	.site-nav__link .icon-arrow-down {
		color: #2d4276;
	}
}
.supports-fontface .header-bar__search-input[type="search"] {
	font-weight: 600;
}
.top-banner {
	height: 600px;
	overflow: hidden;
}
#shopify-section-header {
	position: fixed;
	z-index: 3;
	top:0;
	width: 100%;
}
.index-section.shopify-section{
	background: #fff;
	padding-top: 0;
}
.shopify-section {
	position: relative;
	z-index: 1;
}
.site-nav {
	text-align: right;
}

.cart-container {
  background: $brandSecondary;
  margin: -2px 0 -8px 14px;
  font-size: 18px;
  a {
  	color: #fff;
  	padding: 17px 25px 14px 25px;
  	text-transform: none;
  	letter-spacing: 0.025em;
  }
  .icon {
  	display: inline-block;
    vertical-align: top;
    margin-top: -3px;
    font-size: 1.3rem;
  }
}
.icon.search,
.icon-admin {
	font-size: 26px;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 5px;
  a {
  	vertical-align: middle;
    padding: 5px 8px 0;
    display: inline-block;
  }
}
.icon.search {
	margin-left: 12px;
	font-size: 23px;
}
.header-bar {
  padding: 19px 20px;
  background: #fff;
}
.header-bar__search {
	margin-top: -8px;
  margin-bottom: -7px;
  position: absolute;
  right: 124px;
  top: 7px;
}
.site-header {
	background: $brandPrimary;
	padding: 15px 20px;
	@media only screen and (max-width: 769px){
		display: none;
	}
}
.site-nav__dropdown {
	right: 0;
	left: auto;
}
.supports-fontface .header-bar__search-submit {
  width: 27%;
}
input.header-bar__search-input {
  padding: 19px 0 19px 39px;
  border-radius: 0;
  border: none;
  font-size: 18px;
}
.header-bar__module.cart-container {
  text-transform: uppercase;
}
.site-header a.logo-title {
	color: $brandLight;
	position: absolute;
	left: 30px;
	font-weight: 700;
	font-size:24px;
	font-family: 'Cabin';
}
.site-header {
	.wrapper {
		position: relative;
	}
}

@media (max-width: 1068px) {
	.mobile-nav__link {
		font-size: 16px;
	  font-family: "Cabin",sans-serif;
	}
	.mobile-nav__sublist-link {
		a {
			font-size: 16px;
		  font-family: "Cabin",sans-serif;
		}
		.header-bar a, .header-bar button {
    font-size: 18px;
		}
	}

}
.cart-page-link {
	text-decoration: none;
}
