h2.section-header__title {
  text-align: center;
  margin-bottom: 45px;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -0.015em;
}
.top-banner .search-bar input[type="search"] {
  border: 1px solid #ccc;
  font-size: 20px;
  padding: 12px 15px 13px;
  height: auto;
  display: block;
  border-radius: 0;
  border-right: 0;
}
.search-bar button.btn.icon-fallback-text {
  height: auto;
  padding: 9px 16px 7px;
  background-color: #2d4276;
  color: #fff;
  &:hover {
  	background-color: #ffcd2f;
	  color: #2d4276;
  }
}
.featured-products {
  background: #f3f4f7;
  padding: 50px 6px 66px;
  h2 {
  	text-align: center;
  	margin-bottom: 45px;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -0.015em;
  }
  .item-container {
  	background: #fff;
  	margin: 0 6px;
  	transition: all .25s;

  	&:hover {
  		margin-top: -5px;
  		margin-bottom: 5px;
  		a::after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #69e2e2;
				opacity: .25;
				content:'';
	  	}
	  	.grid-link__meta {
	  		color: $brandSecondary;
	  	}
  	}
  }
  .grid-link {
  	padding: 15px 10px 15px;
  	height: 100%;
  }
  .grid-link__image {
  	padding: 0 10px;
  }
}
.grid-link:hover .grid-link__image, .grid-link:active .grid-link__image, .grid-link--focus:hover .grid-link__image, .grid-link--focus:active .grid-link__image {
	opacity: 1;
}
@media only screen and (min-width: 769px){
	.post-large--one-fifth {
    padding-left: 0px;
	}
}
.grid, .grid--rev, .grid--full, .grid-uniform {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 0px;
}
.grid-uniform {
	display: flex;
	.grid__item {
		flex: 1 auto;
	}
}
.grid-link__meta {
  margin-bottom: 0;
  padding: 5px 9px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: #6b747e;
}
.grid-link__title {
	font-weight: 800;
}
p.grid-link__meta::first-letter {
  font-size: 20px;
  color: #cdd2d2;
  padding-right: 4px;
}
.grid__item .item-container {
  height: 100%;
  position: relative;
  text-align: right;
}
.buy-container {
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
}
#AddToCartForm {
	 text-align: right;
  display: inline-block;
  margin-bottom: 0;
}
#AddToCart {
	border: none;
	outline: none;
	-webkit-appearance: none;
  background: $brandCTA;
  color: $brandSecondary;
  font-weight: 700;
  letter-spacing: -0.05em;
  padding: 6px 18px;
}
.template-index {
	.featured-blog {
		padding-top: 50px;
		.grid__item {
			padding-left: 0;
		}
	}
	.featured-blog__post {
		text-align: center;
	}
}
