.index-section.shopify-section{
  background: #fff;
  padding-top: 0;
  padding-bottom: 0;
}
h2.section-header__title {
  text-align: center;
  margin-bottom: 45px;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -0.015em;
}
.banner-bg {
  background: url('banner-img-05.jpg') no-repeat right center;
  background-size: cover;
  background-color: #80bdbd;
  position: absolute;
  right: 0;
  top: 140px;
  height: 100%;
  width: 62%;
  z-index: 0;
  @media (max-width: 769px){
    background: url(banner-img.jpg) no-repeat center;
    background-size: cover;
    background-color: #80bdbd;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.5;
  }
}
.top-banner{
  padding-top: 80px;
  margin-bottom: 30px;
  z-index: 1;
  .hero {
    position: relative;
    z-index: 1;
    @media (min-width: 1087px){
      padding-top: 40px;
    }
  }
  h1 {
    @media (min-width: 1087px){
      font-size: 70px;
    }
    font-size: 40px;
    line-height: 1.2;
    text-align: left;
    max-width: 750px;
    margin-bottom: 30px;
    color: $brandSecondary;
    // text-transform: uppercase;
    a {
      display: block;
      margin: 10px 0;
      color: $brandSecondary;
      @media (min-width: 769px){
        margin: 50px 0;
      }
    }
  }
  .tagline {
    max-width: 450px;
    font-size: 22px;
    text-align: left;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .icon.search {
    font-size: 25px;
    margin-left: 0;
  }
}
.featured-products {
  background: #f3f4f7;
  padding: 50px 6px 66px;
  h2 {
  	text-align: center;
  	margin-bottom: 45px;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -0.015em;
  }
  .item-container {
    width: 100%;
  	background: #fff;
  	margin: 0 6px;
  	transition: all .25s;

  	&:hover {
  		margin-top: -5px;
  		margin-bottom: 5px;
  		a::after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #2D549E;
				opacity: .25;
				content:'';
	  	}
	  	.grid-link__meta {
	  		color: $brandSecondary;
	  	}
  	}
  }
  .grid-link {
  	padding: 15px 10px 15px;
  	height: 100%;
  }
  .grid-link__image {
  	padding: 0 10px;
    max-height: 400px;
  }
}
.grid-link:hover .grid-link__image, .grid-link:active .grid-link__image, .grid-link--focus:hover .grid-link__image, .grid-link--focus:active .grid-link__image {
	opacity: 1;
}
@media only screen and (min-width: 769px){
	.post-large--one-fifth {
    padding-left: 0px;
	}
}
.grid, .grid--rev, .grid--full, .grid-uniform {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 0px;
}
@media only screen and (min-width: 769px){
  .grid-uniform {
  	display: flex;
    justify-content: flex-start;
  	.grid__item {
      width: 20%;
      position: relative;
      padding-left: 0;
  	}
  }
}
.grid-link__meta {
  margin-bottom: 0;
  padding: 5px 9px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: #6b747e;
}
.grid-link__title {
	font-weight: 600;
  font-size: 16px;
  padding: 0 6px;
}
p.grid-link__meta::first-letter {
  font-size: 18px;
  color: #6b747e;
}
.grid__item {
  padding-left: 12px;
}
.grid__item .item-container {
  height: 100%;
  position: relative;
  text-align: right;
  background: #fff;
  box-shadow: -1px 5px 20px 0 rgba(215, 216, 218, 0.38);
}
.buy-container {
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
}
#AddToCartForm {
	text-align: right;
  display: inline-block;
  margin-bottom: 0;
}
#AddToCart {
	border: none;
	outline: none;
	-webkit-appearance: none;
  background-color: #153167;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.05em;
  padding: 6px 18px;
}
.template-index {
	.featured-blog {
		padding-top: 50px;
    .grid-uniform {
      display: flex;
    }
		.grid__item {
			padding-left: 0;
		}
	}
	.featured-blog__post {
		text-align: center;
	}
}

/* responsive*/

@media (max-width: 800px){
  .featured-products {
    .grid-uniform {
    padding-right: 25px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    }
  }
}
.content-tac {
    background-color: #f3f4f7;
    padding: 40px 0;
    text-align: center;
}
.copy-container {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}
