#how-it-works {
  .how-it-works {
    padding: 10px 10px 50px;
  }
}
.how-it-works {
    text-align: center;
    padding: 80px 10px;
    .col-3 {
      .inner-col {
        box-shadow: -1px 5px 20px 0 rgba(215,216,218,0.38);
        color: #333;
        padding: 40px 20px;
        &:hover {
          margin-top: -5px;
          margin-bottom: 5px;
          background-color: rgba(45, 84, 158, 0.25);
          a::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
        .services-container {
          display: flex;
  	       flex: 1 0 auto;
  	        flex-direction: column;
        }
      }
    }

    .img-container {
      display: flex;
      justify-content: center;
      padding-bottom: 40px;
      .icon-img {
        max-width: 100px;
        max-height: 120px;
        img {
          width: 100%;
          display: block;
        }
      }
    }

  h2 {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: 900;
    color: #333;
    letter-spacing: -0.015em;
    text-align: center;
  }

  .btn {
    margin-top: 25px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    background-color: #153167;
    color: #fff;
    font-weight: 700;
    padding: 14px 22px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.010em;
}

}

.map-section {
  text-align: center;
  h2 {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: 900;
    color: #333;
    letter-spacing: -0.015em;
    text-align: center;
  }
  .section-heading {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    p {
      text-align: center;
    }
  }
  .copy-container {
    max-width: 700px;
  }
  .subtitle {
    text-align: left;
  }
  p {
    text-align: left;
  }
  .btn-primary {
    margin: 50px 0;
  }
}

#shopify-section-location {
    margin-top: 50px;
}




.col-3 {
  display: flex;
  width: 100%;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  @media (min-width: 940px){
    flex-direction: row;
    flex-wrap: nowrap;
    .inner-col {
      width: 30%;
      margin: 20px;
      text-align: center;
    }
  }
  @media (max-width: 940px){
    flex-direction: column;
    flex-wrap: nowrap;
    .inner-col {
      margin-bottom: 30px;
      text-align: center;
    }
  }
}

p.subtitle {
    font-size: 24px;
    color: #046569;
    font-weight: 600;
}



/*.btn {
  margin-top: 20px;
}*/
