.search-bar-heading {
  font-family: "Cabin",sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  padding: 13px 0 15px;
  @media (min-width: 769px){
  	background: #f3f4f7;
  	position: absolute;
  	padding: 13px 18px 15px;
  }
}
.search-bar input[type="search"] {
  border: 1px solid #ccc;
  font-size: 20px;
  padding: 12px 15px 13px 15px;
  height: auto;
  display: block;
  border-radius: 0;
  border-right: 0;
  @media (min-width: 769px){
  	padding: 12px 15px 13px 240px;
  }
}
.search-bar {
  max-width: 710px;
  .input-group-btn {
  	@media (max-width: 769px){
			vertical-align: bottom;
  	}
  }
}
.search-bar button.btn.icon-fallback-text {
  height: auto;
  padding: 8px 16px 6px;
  background-color: #2d4276;
  color: #fff;
  &:hover {
  	background-color: #ffcd2f;
	  color: #2d4276;
  }
}
.template-search {
	.search-bar .icon.search {
		font-size: 25px;
		margin-left: 0;
	}
	.wrapper {
		padding-bottom: 100px;
	}
}
