.template-page {
	.main-content {
		padding-top: 185px;
    @media only screen and (max-width: 769px){
      padding-top: 140px;
    }
	}

}
/* single product listing page styling */

.breadcrumb a, .breadcrumb span {
	font-size: 16px;
}
.product-single{
	.h3 {
		font-size: 16px;
    text-transform: uppercase;
    color: #6b747e;
	}
	h1 {
    margin-top: 14px;
		font-weight: 400;
	}
	span#ProductPrice {
    margin-bottom: 22px;
    padding: 5px 9px 5px 0;
    font-size: 24px;
    text-align: left;
    font-weight: 600;
    color: #046569;
    display: block;
	}
	form#AddToCartForm {
    margin-bottom: 40px;
	}
	#AddToCart {
    border: none;
    outline: none;
    -webkit-appearance: none;
    background-color: #153167;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.05em;
    padding: 14px 22px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.010em;
		&:hover {
	    background-color: #629c9c;
	  }
	}
	.grid__item {
		padding-left: 0;
		padding-right: 30px;
	}
}
.grid-link__title{
	text-align: center;
}

#related-products-section {
	padding-top: 25px;
	margin-top: 40px;

	.grid__item:last-child {
		padding-right: 24px;
	}
}

/* product page styling */

h1.section-header__title.section-header__title--left {
    color: #153167;
    font-size: 42px;
    margin-top: 30px;
}
.wrapper {
    padding: 0 50px;
}

/* pagination styling */

ul.pagination-custom {
    font-weight: 600;
    font-size: 20px;

		a {
			border: 1px solid #fff;
	    color: #fff;
	    background-color: #153167;
		}

		span {
    background-color: #629c9c;
		border: 1px solid #fff;
		color: #fff;
		}

	}
