.template-page {
	.main-content {
		padding-top: 185px;
    @media only screen and (max-width: 769px){
      padding-top: 140px;
    }
	}

}
.breadcrumb a, .breadcrumb span {
	font-size: 16px;
}
.product-single{
	.h3 {
		font-size: 16px;
    text-transform: uppercase;
    color: #6b747e;
	}
	h1 {
    margin-top: 14px;
	}
	span#ProductPrice {
    margin-bottom: 22px;
    padding: 5px 9px 5px 0;
    font-size: 24px;
    text-align: left;
    font-weight: 600;
    color: #629c9c;
    display: block;
	}
	form#AddToCartForm {
    margin-bottom: 40px;
	}
	#AddToCart {
    border: none;
    outline: none;
    -webkit-appearance: none;
    background: #ffcd2f;
    color: #2d4276;
    font-weight: 700;
    letter-spacing: -0.05em;
    padding: 14px 22px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.010em;
	}
	.grid__item {
		padding-left: 0;
		padding-right: 30px;
	}
}
.grid-link__title{
	text-align: center;
}
