.template-page {
	.main-content {
		padding-top: 185px;
    @media only screen and (max-width: 769px){
      padding-top: 140px;
    }
	}

}
/* single product listing page styling */
.template-product .main-content {
   padding-bottom: 0px;
}
.breadcrumb a, .breadcrumb span {
	font-size: 16px;
}
.breadcrumb {
    margin: 20px 0 25px;
}
.product-single{
	.h3 {
		font-size: 16px;
    text-transform: uppercase;
    color: #6b747e;
	}
	h1 {
    margin-top: 14px;
		font-weight: 400;
	}
	span#ProductPrice {
    margin-bottom: 22px;
    padding: 5px 9px 5px 0;
    font-size: 24px;
    text-align: left;
    font-weight: 600;
    color: #046569;
    display: block;
	}
	form#AddToCartForm {
    margin-bottom: 40px;
	}
	#AddToCart {
    border: none;
    outline: none;
    -webkit-appearance: none;
    background-color: #153167;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.05em;
    padding: 14px 22px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.010em;
		&:hover {
	    background-color: #629c9c;
	  }
	}
		@media only screen and (min-width: 1087px) {
			.grid__item {
				padding-left: 0;
				padding-right: 30px;
			}
		}

}
.grid-link__title{
	text-align: center;
}

#related-products-section {
	padding-top: 25px;
	margin-top: 40px;

	.grid__item:last-child {
		@media only screen and (min-width: 769px){
			padding-right: 24px;
		}

	}
}

/* Collection */
.template-collection {
  .main-content {
    background: #f3f4f7;
  }
}
#shopify-section-featured-collection,
#shopify-section-collection-template,
#shopify-section-product-template{
  @media only screen and (min-width: 769px){
		.product-filter-layout {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
      align-items: flex-start;
			.ux-filter {
				width: 40%;
				min-width: 200px;
				margin-right: 20px;
				form {
					ul {
						li {
							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							justify-content: flex-start;
							margin-bottom: 5px;
							label {
								vertical-align: middle;
							}
							.checkbox {
								margin: 6px 15px 0 0;
								padding-top: 5px;
								min-height: 40px;
							}
						}
					}
				}
			}
		}
    .grid-uniform {
      display: flex;
      justify-content: flex-start;
      .grid__item {
        min-width: 20%;
        position: relative;
        padding: 6px;
        margin: 0;
        flex: inherit;
        &:hover {
          margin-top: -5px;
          margin-bottom: 5px;
          transition: all .5s;
          a::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #2D549E;
            opacity: .25;
            content: '';
          }
        }
        .item-container {
          box-shadow: -1px 5px 20px 0 rgba(215, 216, 218, 0.38);
        }
        .grid-link {
          height: 100%;
        }
				.grid-link__image {
          .product__img-wrapper > div {
            padding: 12px 0 0;
            text-align: center;
            height: 258px;
          }
					img {
            position: relative;
            padding: 10px;
            max-height: 100%!important;
            width: auto;
            top: 50%;
            transform: translateY(-50%);
					}
				}
      }
    }
  }
  @media only screen and (max-width: 769px){
    .product-filter-layout {
      .ux-filter {
        display: none;
      }
    }
  }
  @media only screen and (max-width: 1000px){
    .grid-uniform {
      .grid__item {
        min-width: 32%;
      }
    }
  }
  @media only screen and (max-width: 500px){
    .grid-uniform {
      .grid__item {
        min-width: 100%;
      }
    }
  }
}

/* product page styling */

h1.section-header__title.section-header__title--left {
  color: #153167;
  font-size: 42px;
  margin-top: 30px;
}

/* pagination styling */

ul.pagination-custom {
  font-weight: 600;
  font-size: 20px;
  li.disabled {
    display: none;
  }
  li:last-child span,
  li:first-child span,
  li:last-child a,
  li:first-child a {
    background: none;
    color: #153167;
    border: none;
    font-size: 34px;
    margin-top: -8px;
  }
	a {
		border: 1px solid #fff;
    color: #fff;
    background-color: #153167;
    transition: .25s all;
    &:hover {
      margin-top: -2px;
    }
	}
	.active span {
    background-color: #629c9c;
  	border: 1px solid #fff;
  	color: #fff;
	}
}

.default-template .rte {
	h2 b {
		font-size: 36px;
		color: #629c9c;
	}
	h5 b a {
		margin-top: 25px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    background-color: #153167;
    color: #fff;
    font-weight: 700;
    padding: 14px 22px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.010em;
		text-decoration: none;
		&:hover {
    background-color: #274681;
    color: #fff;
    }
	}
}
