.category-boxes {
  position: relative;
  background: #fff;
  box-shadow: -1px 5px 20px 0 rgba(215,216,218,0.38);
  margin: 20px;
  padding: 20px;
  padding-left: 20px !important;
  position: relative;
  width: auto;
  float: none;
  @media (min-width: 769px){
    min-width: 20%;
  }
  position: relative;
  flex: 1;

  a {
    color: #333;
    font-weight: 700;
    font-size: 22px;
    font-family: "Cabin",sans-serif;
    position: relative;
    margin-top: 0;
    display: block;

    &:hover {
      margin-top: -5px;
      margin-bottom: 5px;
      transition: all .5s;
    }
  }
}

.category-list {
  padding-bottom: 50px;
  @media (min-width: 769px){
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

#lifestyle-amp-wellness, #medicine-amp-health, #personal-care, #babies-amp-kids, #household, #beauty {
    background: #f3f4f7;
}
