<div class="page-width">
  <div class="wrapper">
  {{ section.settings.custom_html }}
  </div>
</div>

{% schema %}
  {
    "name": "Custom HTML",
    "class": "index-section",
    "settings": [
      {
        "type": "html",
        "id": "custom_html",
        "label": "Custom HTML",
        "default": "<h2>Talk about your brand</h2><p>Use HTML to format your text so it can be easily read. This text can be used to share information about your brand with customers.</p>"
      }
    ],
    "presets": [
      {
        "name": "Custom HTML",
        "category": "Advanced"
      }
    ]
  }
{% endschema %}
