<!-- The Modal -->
<dialog id="myModal" class="modal" role="dialog" open="" aria-labelledby="modal-title">
	<div role="document" class="modal-content">
		<button type="button" class="close" id="js-modal-close" title="Close this window" data-content-back-id="" data-focus-back="label_modal_28qogtf5i5">
			<span>&times;</span>
		</button>
		<div class="simple-modal__content" wiid="C68">
			<h1 id="modal-title" class="simple-modal-title" wiid="C69">
				Attention customers:
			</h1>
	    <p>Due to supply chain restraints caused by the COVID-19 crisis, we are limiting orders of 1 unit per item for each customer order until further notice. We appreciate your patience as we work hard to keep up with demand. The good news? We are making our "Care Club" membership free until may 1st, 2020, which includes free delivery and free access to health assessments from our registered pharmacists. We are all in this together! #stayhome</p>
		</div>
	</div>
</dialog>

<div class="top-banner">
	<div class="wrapper">
		<div class="hero" itemscope itemtype="http://schema.org/Organization">
		  <h1>How can we help today?</h1>
		  {% include 'search-bar' %}
		  <p class="tagline">Your one-stop online pharmacy – buy products, book consultations, order prescriptions.</p>
			<a href="/pages/how-it-works" class="btn-primary">Learn More</a>
		</div>
		<div class="banner-bg">
		</div>
	</div>
</div>

{{ content_for_index }}
