
<div class="top-banner">
	<div class="wrapper">
		<div class="hero" itemscope itemtype="http://schema.org/Organization">
		  <h1>How can we help today?</h1>
		  {% include 'search-bar' %}
		  <p class="tagline">Your one-stop online pharmacy – buy products, book consultations, order prescriptions.</p>
			<a href="/pages/how-it-works" class="btn-primary">Learn More</a>
		</div>
		<div class="banner-bg">
		</div>
	</div>
</div>

{{ content_for_index }}
