
<div class="top-banner">
	<div class="wrapper">
		<div class="h1" itemscope itemtype="http://schema.org/Organization">

		  <h1><a href="/" itemprop="url">How can we help you with your health today?</a></h1>
		  {% include 'search-bar' %}
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

		</div>
		<div class="banner-bg">
		</div>
	</div>
</div>



{{ content_for_index }}
