
<div class="top-banner">
	<div class="h1" itemscope itemtype="http://schema.org/Organization">

	  <h1><a href="/" itemprop="url">How can we help you with your health today?</a></h1>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
	   {% comment %}{% include 'search-bar' with 'header' %}{% endcomment %}

	</div>
	<div class="banner-bg">
	</div>
</div>



{{ content_for_index }}
