
<div class="section-header">
  <div class="wrapper">
    <h1 class="section-header--title">{{ page.title }}</h1>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>

<section class="how-it-works-section">
  {% section 'how-it-works' %}
</section>

<section class="community">
	<div class="wrapper">
	  {% section 'content' %}
	</div>
</section>

<section class="motto-section">
	{% section 'content-title-desc' %}
</section>

<section class="membership-section">
  {% section 'memberships' %}
</section>

<div class="map-section">
	{% section 'location' %}
</div>
